.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

.container  {
    display: flex;
    width: 100vw;
    height: 5vh;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: flex-end;
    
}

nav li {
    list-style: none;

    justify-content: flex-end;
}

input[type="submit"] {
    color: white;
    background-color: blue;
    padding: 5px;
    margin: 5px;
}

input[type="text"] {
    height: 25px;
    width: 250px;
    margin: auto;
    padding: auto;
    align-self: center;
    justify-self: center;
}