:root {
    --search-blue: #5496ff;
}

* {
    margin: 0;
    padding: 0;
    /* outline: 1px solid red; */
}

.search {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 95vh;
}

.container  {
    display: flex;
    width: 100vw;
    height: 5vh;
    flex-flow: row nowrap;
    align-content: center;
    justify-content: flex-end;
    
}

nav li {
    list-style: none;

    justify-content: flex-end;
}

input[type="submit"] {
    color: white;
    background-color: var(--search-blue);
    padding: 5px;
    margin: 5px;
    border: 0;
}

input[type="text"] {
    height: 25px;
    width: 250px;
    margin: auto;
    padding: auto;
    border: 1px solid grey;
    align-self: center;
    justify-self: center;
    box-shadow: -5px 5px 41px 0px rgba(0,0,0,0.35);
    border-radius: 25px;
}